<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="FirstRun">
    <test name="Test1">
	
        <classes>
            
            <class name = "com.org.learningMaven.myProjectMaven1.Page1"/>
            
        </classes>
        
        
        
    </test>
    
  
    
</suite>